extend ../layout/main-layout
block content
  form(action='/logon',method='post')
    div
      a(class='linkButton', href='/finanza/crear') Crear Nuevo
        br
        br
      table.lista
        thead
          tr
            th Opciones
            th Nombre Persona
            th Fecha Mov.
            th Saldo Mov.             
        tbody
          if finanzaObjList.length > 0
            each finanza, i in finanzaObjList
              tr
                td
                  a(href="/finanza/editar?id=#{finanza._id}") Editar
                  a(href="/finanza/eliminar?id=#{finanza._id}") Eliminar
                td 
                  span #{finanza.nombrePersona}
                td 
                  span #{finanza.fchMovimiento}
                td
                  span #{finanza.saldoMovimiento}
          else
            tr
              td(colspan="4")
                span No existen datos para mostrar

